@keyframes scaleDownUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleUpDown {
    0% {
        transform: scale(1.025);
    }

    50% {
        transform: scale(.975);
    }

    100% {
        transform: scale(1.025);
    }
}


.q-wrapper {
    @apply absolute w-full h-full flex flex-col lg:gap-10 gap-5 grow bg-white/80 backdrop-blur-2xl rounded-2xl shadow-2xl border border-white/40 md:p-10 sm:p-6 p-4 shrink-0;

    .q-title {
        @apply w-full text-center text-3xl font-serif font-bold text-slate-700 tracking-tight shrink-0;
    }

    .q-options {
        @apply grid grid-cols-1 xl:grid-cols-2 grow gap-3;
    }

    .q-option {
        @apply relative flex items-center text-center bg-white/70 p-4 rounded-xl transition-all duration-500 cursor-pointer border shadow-lg;

        &.animate:hover {
            @apply scale-[1.025];
        }

        &.animate.selected {
            @apply bg-primary-400;

            span{
                @apply text-white;
            }
            animation: scaleUpDown 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }

    .q-option span {
        @apply w-full text-2xl font-sans font-light tracking-tight text-slate-700 transition duration-300;
    }
}